body
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-image: url(assets/stars_background.jpg); */
  /* background-image: url(assets/lake_background.jpg); */
  background-image: url(assets/car_stars_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: hsl(0, 0%, 10%); */
}

.clock 
{
  color: hsla(0, 0%, 100%, 1);
  font-size: 6.25vw;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  /* text-shadow: 3px -10px 25px hsla(0, 0%, 0%, 1); */
}

@media (width < 768px) {
  .clock
  {
    font-size: 12.5vw;
  }
}

/* @media (500px <= width <= 700px) {
  .clock
  {
    font-size: 4rem;
  }
}

@media (370px <= width <= 500px) {
  .clock
  {
    font-size: 3rem;
  }
}

@media (300px <=width <= 370px) {
  .clock
  {
    font-size: 2.5rem;
  }
}

@media (width <= 300px) {
  .clock
  {
    font-size: 2rem;
  }
} */

.clock-container
{
  backdrop-filter: blur(5px);
  /* width: 100vw; */
  padding: 20px;
  border-radius: 40px;
  background-color: hsla(0, 0%, 100%, 0.1);
}